body {
  font-family: "Baloo Bhaina 2", cursive;
  background-color: #f5f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
.header {
  color: #f77f00;
}
.logoStyle {
  position: relative;
  z-index: 1;
  color: #333;
  font-weight: 500;
}

.primaryBackground {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-size: 50%;
}
.customPadding {
  padding: 0 30px;
}

.header {
  padding-top: 50px;
}
option:disabled {
  background-color: #ccc;
}
.successHolder {
  height: 70vh;
}

.btn-rounded {
  border-radius: 35px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #eb7d26;
  border-color: #eb7d26 !important;
}
.btn-rounded:hover {
  background-color: #e46e15;
  border-color: #eb7d26 !important;
}

.time {
  position: absolute;
  margin-top: -23px;
  right: 35px;
}

.submitHolder {
  padding: 50px 0;
}

.orange {
  color: #d62b29;
}

